@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.SideBar {
    display: grid;
    grid-template-columns: 1fr;
    height: calc(100vh - 6px);
    width: 100%;
    background-color: whitesmoke;
    border: 3px solid rgba(112, 128, 144);
    border-radius: 5px;
}

.SideBar p {
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
}