@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.SideBar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 2fr 2fr 4fr 2fr;
    justify-items: center;
    height: calc(100vh - 6px);
    width: 100%;
    background-color: var(--mn-col);
    border: 3px solid rgba(112, 128, 144);
    border-radius: 5px;
}

.SideBar img {
    margin-top: 1cm;
    border: 3px solid var(--bord-col);
    background-color: var(--img-bg-col);
    border-radius: 10px;
    padding: 20px;
    user-select: none;
}

#displayTitle {
    font-family: "Poetsen One", sans-serif;
    text-align: center;
    color: var(--mn-txt-col);
    font-size: 32px;
    margin-top: 1cm;

}

#description {
    font-family: "Poetsen One", sans-serif;
    text-align: center;
    color: var(--mn-txt-col);
    font-size: 18px;
    margin: 0 1cm;
}

#gobutton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poetsen One", sans-serif;
    font-size: 24px;
    height: 1.6cm;
    width: 7cm;
    color: whitesmoke;
    background-color: tomato;
    border-radius: 15px;
    transition: transform 0.1s ease-in-out, color 0.2s ease-in-out;
    outline: none;
    user-select: none;
}

#gobutton:hover {
    transform: scale(1.05);
    border: 1px solid tomato;
    color: #868686;
}

#gobutton.active {
    animation: click 0.5s forwards;
}

@keyframes click {
    0% {
        box-shadow: 0 0 0 0px rgb(255, 99, 71, 0.9);
    }

    100% {
        box-shadow: 0 0 0 20px rgb(255, 99, 71, 0);
    }
}

#theme-button {
    background-color: transparent;
    outline: none;
    padding: 0;
    height: 32px;
    width: 32px;
    border: none;
    user-select: none;
    align-self: center;
    justify-self: start;
    margin-left: 1%;
}

#theme-button img {
    background-color: transparent;
    width: 32px;
    padding: 0;
    border: 0;
    margin: 0;
    user-select: none;
}