.ttt-div {
    border: 1px solid rgba(112, 128, 144);
    display: flex;
    align-items: center;
    /* Explicitly center vertically */
    justify-content: center;
    /* Explicitly center horizontally */
    user-select: none;
    background-color: var(--mn-col);
}

.ttt-div img {
    width: 2cm;
}

.ttt-div-active {
    border: 1px solid tomato;
    background-color: tomato;
    color: whitesmoke;    
    animation: winner .4s ease-in-out forwards
}

.ttt-div-active img {
    filter: invert(11);
}

@keyframes winner {
    0% {
        background-color: rgb(255, 100, 70, 0);
    }
    100% {
        background-color: rgb(255, 100, 70, 1);
    }
}

@media only screen and (max-width: 600px) {
    .ttt-div img {
        width: 1.5cm;
    }
}  