.simonsayslives {
    width: 50%;
    height: 90%;
    user-select: none;
    background-color: var(--mn-col);
    border: 2px solid var(--bord-col);
    border-radius: 5px;
    text-align: center;
    align-content: center;
}

@media (max-width: 660px) {
    .simonsayslives {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .simonsayslives {
        width: 80%;
    }
}