.ttt-field {
    height: 10cm;
    width: 10cm;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;
    transition: height 0.5s ease, width 0.5s ease;
}

@media (max-width: 700px) {
    .ttt-field {
        width: 8.5cm;
        height: 8.5cm;
    }
}

@media only screen and (max-width: 600px) {
    .ttt-field {
        width: 7cm;
        height: 7cm
    }
}