@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.TTTSideBar {
    position: relative;
    right: 6px;
    display: grid;
    grid-template-columns: 1fr;  
    grid-template-rows: 1fr 1fr 2fr 1fr;
    justify-items: center;     
    height: calc(100vh - 6px);
    width: 100%;
    background-color: var(--mn-col);
    border: 3px solid rgba(112, 128, 144);
    border-radius: 5px;
}

#backbutton {
    font-family: "Poetsen One", sans-serif;
    font-size: 22px;
    height: 1.4cm;
    width: 6.5cm;
    background-color: tomato;
    transition: transform 0.1s ease-in-out,color 0.2s ease-in-out;
    outline: none;
    margin-top: 1cm;
    user-select: none;
}

#backbutton:hover {
    transform: scale(1.05);
    border: 1px solid tomato;
    color: #868686;
}

#backbutton.active {
    animation: click 0.5s forwards;
}

@keyframes click {
    0% {
        box-shadow: 0 0 0 0px rgb(255, 99, 71, 0.9);
    }

    100% {
        box-shadow: 0 0 0 20px rgb(255, 99, 71, 0);
    }
}