@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
/* font-family: "Poetsen One", sans-serif; */

:root {
    --dot-col: rgba(112, 128, 144, .9);
    --tttbxshd: tomato;
    --calcbxshd: orange;
    --simbxshd: LightGreen;
    --mn-col: whitesmoke;
    --mn-txt-col: #rgb(36, 36, 36);
    --img-bg-col: #fff;
    --bord-col: rgba(110, 130, 145);
    --testbuttonborder: lightblue;
}

[data-theme="dark"] {
    --dot-col: rgba(155, 180, 205, 0.9);
    --tttbxshd: hsl(10, 80%, 55%);
    --calcbxshd: hsl(40, 90%, 45%);
    --simbxshd: MediumSeaGreen;
    --mn-col: #394453e3;
    --mn-txt-col: #fff;
    --img-bg-col: hsl(225, 5%, 50%);
    --bord-col: hsl(258, 0%, 85%);
    --testbuttonborder: rgb(89, 115, 124);
}

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
